<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- For Android 13 and above -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:forceDarkAllowed="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartJobRecommendation"
        tools:targetApi="31">
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HRJobDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HRApplicantActivity"
            android:exported="false" /> <!-- LOGIN AS LAUNCHER -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.JobSeekerRegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activities.HRRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.JobSeekerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HRProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PostJobActivity"
            android:exported="false" />
        <activity
            android:name=".activities.JobDetailActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>